<!-- COMPONENT: category -->
<section 
class="category bg section"
[ngStyle]="{ 'background-image': 'url(' + loginBg + ')' }">

<div class="container">
  <div style="height: 75px" ></div>

  <p
     *ngIf="message && showMessage"
     class="alert alert-success col-md-12">

  {{ message }}
  <i class="fa fa-check" aria-hidden="true"></i>
  </p>

  <div class="panel panel-primary">

    <div class="panel-heading clearfix">    

      <h4 class="panel-title pull-left">Mensagens</h4>

      <div class="btn-group pull-right">        

        <button type="button" pButton icon="fa-plus" style="float:left" (click)="add()"></button>
      </div>
    </div>

    <div class="panel-body">

      <div class="row">

        <p-dataTable 
           [value]="notifications" 
           [(selection)]="notification" 
           [rows]="10" 
           [paginator]="true" 
           [pageLinks]="3" 
           [responsive]="true" 
           [stacked]="stacked">

          <p-column field="title" header="Título"></p-column>
          <p-column field="message" header="Mensagem"></p-column>            
        </p-dataTable>
      </div>
    </div>
  </div>
</div>


<p-dialog 
  header="Mensagem (Envio)" 
  [(visible)]="displayDialog" 
  [responsive]="true" 
  showEffect="fade" 
  [modal]="true">

  <div *ngIf="notification">

    <label>Título</label>

    <input 
      type="text" 
      class="form-control" 
      [(ngModel)]="notification.title"
      placeholder="Título"
      name="title"
      required
      minlength="5">

    <label>Mensagem</label>

    <input 
       type="text" 
       class="form-control" 
       [(ngModel)]="notification.message"
       placeholder="Mensagem"
       required
       minlength="5"
       name="message">
  </div>    

  <p-footer>

    <div class="ui-dialog-buttonpane ui-helper-clearfix">            

      <button 
        type="button" 
        pButton icon="fa-paper-plane" 
        (click)="sendNotification()" 
        label="Enviar">
      </button>
    </div>
  </p-footer>
</p-dialog>

<powered></powered>
</section>
