<!-- COMPONENT: sector-edit -->
<section 
  class="sector-edit bg section"
  [ngStyle]="{ 'background-image': 'url(' + login_bg + ')' }">

  <div class="container">

    <a class="btn btn-primary" [routerLink]="['/sector']"> Voltar </a>

    <p
      class="alert alert-success col-md-12" 
      *ngIf="message && showMessage">
      
      {{ message }}
    </p>

    <h3 class="item-title text-center"> Setor </h3>

    <form
      #sectorForm="ngForm"
      (ngSubmit)="insertItem()" 
      novalidate>

      <div
        class="alert alert-danger"
        *ngIf="code.errors && (code.dirty || code.touched)">

        <div [hidden]="!code.errors.required">
          
          Por favor, preencha o campo Setor.
        </div>
      </div>

      <div
        class="alert alert-danger"
        *ngIf="description.errors && (description.dirty || description.touched)">

        <div [hidden]="!description.errors.required">
          
          Por favor, preencha o campo Descrição.
        </div>
      </div>

      <div
        class="alert alert-danger"
        *ngIf="processTime.errors && (processTime.dirty || processTime.touched)">

        <div [hidden]="!processTime.errors.required">
          
          Por favor, preencha o campo Tempo de Processo.
        </div>
      </div>

      <div class="row">

        <div class="form-group col-md-3 no-padding-left">

          <input
            type="text" 
            class="form-control" 
            [(ngModel)]="sector.code"
            placeholder="Setor"
            [class.input-error]="code.errors && (code.dirty || code.touched)"
            #code="ngModel"
            required
            name="code">
        </div>

        <div class="form-group col-md-6">

          <input 
            class="form-control"
            [(ngModel)]="sector.description"
            placeholder="Descrição"
            required
            #description="ngModel"
            [class.input-error]="description.errors && (description.dirty || description.touched)"
            name="description"
            type="text">
        </div>

        <div class="form-group col-md-3 no-padding-right">

          <input 
            class="form-control"
            [(ngModel)]="sector.processTime"
            placeholder="Tempo de Processo"
            required
            #processTime="ngModel"
            [class.input-error]="processTime.errors && (processTime.dirty || processTime.touched)"
            name="processTime"
            type="text">
        </div>

        <div class="form-group col-md-12">

          <button 
            style="display: block; margin: 30px auto; cursor: pointer" 
            class="btn btn-primary">

            Inserir
          </button>
        </div>
      </div>
    </form>
  </div>

  <powered></powered>
</section>
