<!-- COMPONENT: category -->
<section 
  class="category bg section"
  [ngStyle]="{ 'background-image': 'url(' + loginBg + ')' }">

  <div class="container">
    <div style="height: 75px" ></div>

    <p
       *ngIf="message && showMessage"
       class="alert alert-success col-md-12">

    {{ message }}
    <i class="fa fa-check" aria-hidden="true"></i>
    </p>

    <div class="panel panel-primary">

      <div class="panel-heading clearfix">    

        <h4 class="panel-title pull-left">Categorias</h4>

        <div class="btn-group pull-right">        

          <button type="button" pButton icon="fa-plus" style="float:left" (click)="add()"></button>
        </div>
      </div>

      <div class="panel-body">

        <div class="row">

          <p-dataTable 
             [value]="categories" 
             selectionMode="single" 
             [(selection)]="category" 
             (onRowSelect)="onRowSelect($event)"
             [rows]="10" 
             [paginator]="true" 
             [pageLinks]="3" 
             [responsive]="true" 
             [stacked]="stacked">

            <p-column field="code" header="Código"></p-column>
            <p-column field="name" header="Descrição"></p-column>            
          </p-dataTable>
        </div>
      </div>
    </div>
  </div>


  <p-dialog 
    header="Categoria (Edição)" 
    [(visible)]="displayDialog" 
    [responsive]="true" 
    showEffect="fade" 
    [modal]="true">

    <div *ngIf="category">

      <label>Código</label>

      <input 
        type="text" 
        class="form-control" 
        [(ngModel)]="category.code"
        placeholder="Código"
        name="code"
        required
        pattern="[0-9]*"
        minlength="2">

      <label>Nome</label>

      <input 
         type="text" 
         class="form-control" 
         [(ngModel)]="category.name"
         placeholder="Nome"
         required
         minlength="5"
         name="name">
    </div>    

    <p-footer>

      <div class="ui-dialog-buttonpane ui-helper-clearfix">            

        <button 
          type="button" 
          pButton icon="fa-check" 
          (click)="insertItem()" 
          label="Salvar">
        </button>
      </div>
    </p-footer>
  </p-dialog>

  <powered></powered>
</section>
