<!-- COMPONENT: demand -->
<section 
  class="demand bg section"
  [ngStyle]="{ 'background-image': 'url(' + loginBg + ')' }">

  <div class="container">
    <div style="height: 75px" ></div>
    <p 
       class="alert alert-success col-md-12" 
       *ngIf="message && showMessage">

    {{ message }}
    </p>
    
    <p-dialog 
       header="Demanda (Edição)" 
       [(visible)]="displayDialog" 
       [responsive]="true" 
       [width]="380" showEffect="fade" 
       [modal]="true">
      <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="demand">

        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="collection">Coleção</label></div>
          <div class="ui-grid-col-8">
            <p-dropdown [options]="collections" filter="filter" [style]="{'width':'100%'}" [(ngModel)]="demand.collection" placeholder="Selecione uma coleção"></p-dropdown>
          </div>              
        </div>


        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="name">Categoria</label></div>
          <div class="ui-grid-col-8">
            <p-dropdown [options]="categories" filter="filter" [style]="{'width':'100%'}" [(ngModel)]="demand.category" placeholder="Selecione uma categoria"></p-dropdown>
          </div>              
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="quantity">Quantidade</label></div>
          <div class="ui-grid-col-8">
            <input id="quantity" class="form-control" [(ngModel)]="demand.quantity">
          </div>        
        </div>

      </div>


      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">            
          <button type="button" pButton icon="fa-check" (click)="insertItem()" label="Salvar"></button>
        </div>
      </p-footer>
    </p-dialog>

    <div class="panel panel-primary">

      <div class="panel-heading clearfix">    

        <h4 class="panel-title pull-left"> Demands </h4>

        <div class="btn-group pull-right">        

          <button 
            type="button" 
            pButton icon="fa-plus" 
            style="float:left" 
            (click)="add()">
          </button>
        </div>
      </div>

      <div class="panel-body">

        <div class="row">
          <div class="col-md-12">
          <p-dataTable 
             sortField="collection.description" 
             rowGroupMode="rowspan" 
             [value]="demands" 
             selectionMode="single" 
             [(selection)]="demand" 
             (onRowSelect)="onRowSelect($event)"
             [rows]="10" 
             [paginator]="true" 
             [pageLinks]="3" 
             [responsive]="true" 
             [stacked]="stacked">

            <p-column field="collection.description" header="Coleção"></p-column>
            <p-column field="category.name" header="Categoria"></p-column>
            <p-column field="quantity" header="Quantidade"></p-column>        
          </p-dataTable>
          </div>
        </div>

      </div>

    </div>
  </div>

  <powered></powered>
</section>
