<!-- COMPONENT: demand-edit -->
<section 
  class="demand-edit bg section"
  [ngStyle]="{ 'background-image': 'url(' + loginBg + ')' }">

  <div class="container">

    <a 
      [routerLink]="['/demand']"
      class="btn btn-primary">

      voltar
    </a>

    <p 
       class="alert alert-success col-md-12" 
       *ngIf="message && showMessage">

      {{ message }}
    </p>

    <div class="row">

      <span class="item-title col-md-12 text-center no-padding-left"> Demandas </span>
    </div>

    <form
      (ngSubmit)="insertItem()"
      novalidate>

      <div class="row">

        <div class="col-md-5 no-padding-left">

          <collection-select
             (collectionChanged)="handleCollectionChange($event)">
          </collection-select>
        </div>

        <div class="col-md-5">

          <category-select
             (categoryChanged)="handleCategoryChange($event)">
          </category-select>
        </div>

        <div class="col-md-2 no-padding-right">

          <div class="form-group">

            <label>Quantidade</label>
            <input 
               class="validate form-control" 
               type="number"
               name="quantity"
               [(ngModel)]="demand.quantity"
               id="quantity">
          </div>
        </div>
      </div>

      <div class="row justify-content-center">

        <div class="col-md-2">

          <button class="btn btn-primary"> Salvar </button>
        </div>
      </div>
    </form>
  </div>

  <powered></powered>
</section>
