<!-- COMPONENT: flag -->
<section 
  class="flag bg section"
  [ngStyle]="{ 'background-image': 'url(' + login_bg + ')' }">

  <div class="container">

    <div style="height: 75px" ></div>

    <p
       *ngIf="message && showMessage"
       class="alert alert-success col-md-12">

      {{ message }}
      <i class="fa fa-check" aria-hidden="true"></i>
    </p>

    <div class="panel panel-primary">

      <div class="panel-heading clearfix">    

        <h4 class="panel-title pull-left">Bandeiras</h4>

        <div class="btn-group pull-right">        

          <button 
            type="button" 
            pButton icon="fa-plus" 
            style="float:left" 
            (click)="add()">
          </button>
        </div>
      </div>

      <div class="panel-body">

        <div class="row">

          <p-dataTable 
             [value]="flags" 
             selectionMode="single" 
             [(selection)]="flag" 
             (onRowSelect)="onRowSelect($event)"
             [rows]="10" 
             [paginator]="true" 
             [pageLinks]="3" 
             [responsive]="true" 
             [stacked]="stacked">

            <p-column field="code" header="Código"></p-column>
            <p-column field="description" header="Descrição"></p-column>            
          </p-dataTable>
        </div>

      </div>

    </div>


  </div>


  <p-dialog 
                                          header="Bandeiras (Edição)" 
                                          [(visible)]="displayDialog" 
                                          [responsive]="true" 
                                          [width]="380" showEffect="fade" 
                                                        [modal]="true">

    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="flag">
      <label>Código</label>
      <input
         type="text" 
         class="form-control" 
         [(ngModel)]="flag.code"
         placeholder="Código"
         name="code"
         required
         pattern="[0-9]*"
         minlength="2">

      <label>Descrição</label>
      <input 
         type="text" 
         class="form-control" 
         [(ngModel)]="flag.description"
         placeholder="Descrição"
         required
         minlength="5"            
         name="description">
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">            
        <button type="button" pButton icon="fa-check" (click)="insertItem()" label="Salvar"></button>
      </div>
    </p-footer>
  </p-dialog>

  <powered></powered>
</section>
