<!-- COMPONENT: product -->
<section 
  class="product bg section"
  [ngStyle]="{ 'background-image': 'url(' + login_bg + ')' }">


<p-dialog 
           header="Cadastro de produtos" 
           [(visible)]="displayDialog" 
           [responsive]="true" 
           [style]="{'width': '100%'}"
           showEffect="fade" 
           [modal]="true">
<div class="container">
    <div class="row">
        <div class="col-md-3">
        <label>Referência</label>
        <input
           class="form-control" 
           placeholder="Código" 
           type="text" 
           name="productId" 
           [(ngModel)]="product.id.productId">
        </div>
        <div class="col-md-5">
        <label>Nome</label>
        <input 
           class="form-control" 
           placeholder="Nome" 
           type="text" 
           name="productName" 
           [(ngModel)]="product.name">
        </div>

        <div class="col-md-4">
        <label>Categoria</label>
        <p-dropdown 
           filter="filter"
           name="category"
           [options]="categories"  
           [style]="{'width':'100%'}" 
           [(ngModel)]="product.category" 
           placeholder="Selecione uma categoria">
        </p-dropdown>
        </div>
        <div class="col-md-8">
        <label>Descrição</label>
        <input 
           class="form-control" 
           placeholder="Descrição" 
           type="text" 
           name="description"
           [(ngModel)]="product.description">
        </div>
      <div class="col-md-4">
           <div *ngIf="showFileUploader" class="row custom-margin-bottom">
        <label>Imagem</label>
        <p-fileUpload 
           name="file" 
           (onBeforeSend)="onBeforeSend($event)"
           url="{{imageUrlPost}}" 
           (onError)="onError"
           auto="auto" accept="image/*">
        </p-fileUpload>            
    </div>
      </div>
      <div class="col-md-10">
        <label>Detalhes e Observações do Produto</label>
              <textarea 
           class="form-control" 
           placeholder="Detalhes"
           name="details" 
           [(ngModel)]="product.detail">
        </textarea>
        </div>
        <div class="col-md-2">
             <button class="btn btn-primary" (click)="insert()">Salvar</button>
        </div>

      </div>
      
    <div *ngIf="showFileUploader" class="row">
        <div class="col-md-12">
          <p-carousel [value]="product.images">
              <ng-template let-item let-i="index" pTemplate="item">
                <img src="{{imageUrlGet}}{{item}}.jpeg" style=" max-height: 200px " >
              </ng-template>
          </p-carousel>
      </div>
    </div>
</div>
</p-dialog>

  <div class="container">

    <p
       class="alert alert-success col-md-12" 
       *ngIf="message && showMessage"> 

    {{ message }}
    </p>
    <div style="height: 75px" ></div>
    <div class="panel panel-primary">

      <div class="panel-heading clearfix">    

        <h4 
          class="panel-title pull-left">
          
          Lista de Produtos
        </h4>

        <div class="btn-group pull-right">        

          <button 
            type="button" 
            pButton 
            icon="fa-plus" 
            (click)="add()"></button>
        </div>
      </div>

      <div class="panel-body">

        <p-dataTable
           [value]="products"
           selectionMode="single"
           [(selection)]="product"
           (onRowSelect)="onRowSelect($event)"
           [stacked]="stacked"
           [rows]="10"
           [paginator]="true">

          <p-column field="name" header="Nome"></p-column>
          <p-column field="category.name" header="Categoria"></p-column>
        </p-dataTable>
      </div>
      <div class="col-md-12">

      </div>
    </div>
  </div>

  <powered></powered>
</section>


